//- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends ../base.jade

block content
  h3 submissions

  a(href="/submissions/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add submission

  each submission in submissions
    .media
      a(href="/submissions/#{submission.id}")
        .media-left
            img(src=submission.imageUrl || "http://placekitten.com/g/128/192" style="max-width: 300px;") 
        .media-body
          h4= submission.name
          p= submission.description

  if !submissions.length
    p No submissions found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href="?pageToken=#{encodeURIComponent(nextPageToken)}") More
